.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(125deg, #122946, #315d6b);
  padding: 10px;
}

.to-do {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.to-do h2 {
  color: #0b1d34;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #434343;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 18px;
  padding: 12px 18px 12px 50px;
  cursor: pointer;
  /* user-select: none; */
  position: relative;
}

ul li::before {
  content: "⭕️";
  position: absolute;
  height: 28px;
  width: 28px;
  top: 10px;
  left: 10px;
}

ul li.checked {
  text-decoration: line-through;
  color: #555;
}

ul li.checked::before {
  content: "✔️";
}
